{{!-- <li>
	{{name}}

	<button class="" data-id="{{id}}" data-="{{}}">
		{{#if devour}}DEVOUR IT!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-pastry" data-id="{{this.id}}">DELETE!</button>
</li> --}}
